head {
	height: 200px;
	width: 100%;
	background-color: Maroon;
}


h1	{
	
	color: white;
	height: 200px;
	width: 100%;
	background-color: Maroon;
	text-align: center-left;
	
}



body {
	
	background-color: #f7dff2
	
	
	
	
	
	
	
}
h2 {
	
	text-align: center;
	
	
	
	
}
kwerenda {
	
	background-color: Maroon;
	
	
	
}


footer {
	
	
	
	
	
}