body {
	
	background-color: #f7dff2
	
	
}

#header {

background-color: rgb(130, 69, 85);

height: 200px;

}

#left-header {

color: white;
height: 200px;
width: 50%;
float:left;

}

#right-header {

width: 50%;
float: right;
height: 200px;


}

#main {





}


#left {
	
	text-align: left;
	
	
}

#right {

background-color: rgb(130, 69, 85);
height: 200px;
float: right;
width: 50%;
margin-left: 0px;
	
}

#car {

height: 200px;
width: auto;

}


#left {
	
	background-color: rgb(130, 69, 85);
	height: 200px;
	float: left;
	width: 50%;
	margin-right: 0px;
}


footer {
	
	font-size: 13px;
	
	
	
}